<div class="container-fluid">
    <h1>Editing Component</h1>
    <%= render 'form', component: @component %>
    <br>
    <%= link_to 'Show', @component, class:"btn btn-light min-width-btn" %>
    <%= link_to 'Back', components_path, class:"btn btn-light min-width-btn" %>
</div>